.banner {
  width: 100%;
  background-color: var(--primary-main-color);
  padding-top: 70px;
  padding-bottom: 200px;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 83%);

  &Container {
    display: flex;
  }
}

.left {
  max-width: 425px;
}

.rigth {
  flex: 1;
}

.title {
  font-size: 48px;
  line-height: 52px;
  font-weight: 900;
  margin-bottom: 20px;
}

.subtitle {
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 40px;
}

img {
  max-width: 100%;
}

.link {
  padding: 16px 28px;
  padding-right: 48px;
  background-color: #fff;
  border-radius: 60px;
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
  width: min-content;
  box-shadow: 0 0 1px rgba(40, 41, 61, 0.02),
  0 2px 16px rgba(96, 97, 112, 0.16);
}
